<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YBCeShi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D663AAF1DE02A7300C93FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D663AC31DE02A7800C93FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D663ACE1DE02A7800C93FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
